{
  "name": "UUIDs",
  "version": "v2",
  "path": "/uuids",
  "url": "http://{{ tenant_id }}.api.{{ agave_env }}.agaveapi.co/uuids",
  "visibility": "public",
  "roles": [],
  "methods": ["GET", "POST", "HEAD"],
  "auth": "oauth"
}
