---

jupyter-nginx.agaveapi.co:
    image: jstubbs/jupyter_nginx
    links:
{% for tenant in jupyterhub_tenants %}
        - {{ tenant.jupyter_host }}
{% endfor %}
    ports:
        - "80:80"
        - "443:443"
    volumes:
        - /home/apim/jupyterhub_tenants.yml:/values.yml
        - /home/apim/passwords:/passwords
{% for tenant in jupyterhub_tenants %}
        - /home/apim/nginx/{{ tenant.jupyter_cert_file }}:/etc/nginx/certs/{{ tenant.tenant_id }}/{{ tenant.jupyter_cert_file }}
        - /home/apim/nginx/{{ tenant.jupyter_key_file }}:/etc/nginx/certs/{{ tenant.tenant_id }}/private/{{ tenant.jupyter_key_file }}
{% endfor %}

{% for tenant in jupyterhub_tenants %}
{{ tenant.jupyter_host }}:
{% if jupyterhub_image in tenant %}
    image: {{ tenant.jupyterhub_image }}
{% else %}
    image: {{ jupyterhub_image }}
{% endif %}
    ports:
        - "{{ tenant.port }}:8000"
{% if use_swarm %}
        - "8081:8081"
{% endif %}
    # set privileged so we can mount nfs volumes
    privileged: true
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
{% if not use_stock_nfs %}
      - "/home/apim/jupyterhub_config.py:/srv/jupyterhub/jupyterhub_config.py"
      - "/home/apim/jupyterhub_config.py:/home/apim/jupyterhub_config.py"
      - "/tokens:/tokens"
      - "/home/apim/volume_mounts:/volume_mounts"
      - "/home/apim/login.html:/usr/local/share/jupyter/hub/templates/login.html"
      - "/home/apim/logs/:/home/apim/logs/"
{% endif %}
    environment:
        USE_STOCK_NFS: "{{ use_stock_nfs }}"
        # in the future, we can pass CONFIG_PATH: "/home/apim/{{ tenant.tenant_id }}" to make tenant-specific configs.
        CONFIG_PATH: "/home/apim"
        OAUTH_CALLBACK_URL: "{{ tenant.oauth_callback_url }}"
        OAUTH_VALIDATE_CERT: "{{ tenant.oauth_validate_cert }}"
        AGAVE_CLIENT_ID: "{{ tenant.agave_client_id }}"
        AGAVE_CLIENT_SECRET: "{{ tenant.agave_client_secret }}"
        AGAVE_BASE_URL: "{{ tenant.agave_base_url }}"
        AGAVE_TENANT_ID: "{{ tenant.tenant_id }}"
        AGAVE_USER_DATA_DIR_BASE_PATH: "{{ user_data_dir_base_path }}"
{% if 'agave_tenant_name' in tenant %}
        AGAVE_TENANT_NAME: "{{ tenant.agave_tenant_name }}"
{% endif %}
{% if 'agave_login_button_text' in tenant %}
        AGAVE_LOGIN_BUTTON_TEXT: "{{ tenant.agave_login_button_text }}"
{% else %}
        AGAVE_LOGIN_BUTTON_TEXT: "Log in"
{% endif %}
{% if jupyter_user_image in tenant %}
        USER_IMAGE: "{{ tenant.jupyter_user_image }}"
{% else %}
        USER_IMAGE: "{{ jupyter_user_image }}"
{% endif %}
{% if 'jupyteruser_uid' in tenant %}
        jupyteruser_uid: "{{ tenant.jupyteruser_uid }}"
        jupyteruser_gid: "{{ tenant.jupyteruser_gid }}"
{% endif %}
{% if use_stock_nfs %}
        NFS_MOUNT_IP: "{{ nfs_mount_ip }}"
{% endif %}
{% endfor %}